{% extends "_base.html" %}
{% load static %}
{% block title %}
About
{% endblock %}

{% block content %}
    <h2>
        About
    </h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae maiores eveniet quidem corporis hic ullam, autem iusto rem, ducimus, sint tenetur. Rerum eos ducimus itaque eum maxime labore voluptate cupiditate.</p>
    <div class="row justify-content-around">
        <div class="col align-self-center">
            <h3>Online</h3>
            <ul>
                <li><b>Phone</b> | +1987654321</li>
                <li><b>Email</b> | apply@apply.com</li>
            </ul>
        </div>
        <div class="col align-self-center">
            <h3>Offline</h3>
            <ul>
                <li><b>Boston, USA</b> | Boston Square, 15</li>
                <li><b>NY, USA</b> | Time Square, 1</li>
            </ul>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4274.042428041945!2d-73.98732815268106!3d40.75752924369879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2597d74a00a49%3A0xcd7bcb84f67a7cb0!2sTime%20Square!5e0!3m2!1sde!2sua!4v1677253921657!5m2!1sde!2sua" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>  


{% endblock %}