#navbarLogo{
    max-height: 250px;
}
.navbar-light *{
    font-size: 26px;
}
body *{
    color: black;
}
.btn-purple{
    border-color: purple;
}
.btn-purple:hover{
    background-color: purple;
    color: white;
}
.navbar-light{
    background-color: rgb(0, 0, 0);
}
.nav-item{
    margin-left: 25px;
}
.nav-item:first-child{
    margin-left: 0px;
}

.btn-registration:hover{
    background-color: purple;
    color: white;
    border-color: white;
}
.btn-login{
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
}
.btn-registration{
    background-color: rgba(0, 0, 0, 0);
}
.btn-login:hover{
    color: white;
    border-color: white;
    background-color: black;
}
.auth-block{
    margin-right: 50px;
}
.container{
    text-align: center;
    color: purple;
}